# Secrets / env
.env
.env.*

# Node / Nest
node_modules/
dist/
build/
.cache/
.eslintcache

# Prisma
*.db
prisma/dev.db

# Flutter
lana_app/.dart_tool/
lana_app/build/
lana_app/.flutter-plugins
lana_app/.flutter-plugins-dependencies
lana_app/ios/Pods/
lana_app/ios/Podfile.lock
lana_app/android/.gradle/
lana_app/android/app/build/

# IDE
.vscode/
.idea/
*.iml

# Logs
*.log
*.tmp

